<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="color_option_section" translate="label" type="text" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Color Options</label>
            <tab>magenest</tab>
            <resource>Cate_Demo::color_option</resource>
            <group id="color_option_group" translate="label" type="text" sortOrder="1" showInDefault="1">
                <label>Color</label>
                <field id="color_field" translate="label" sortOrder="5" showInDefault="1">
                    <label>Color Options</label>
                    <frontend_model>Junior\Chapter03\Block\Adminhtml\Background</frontend_model>
                    <backend_model>Magento\Config\Model\Config\Backend\Serialized\ArraySerialized</backend_model>
                </field>
            </group>
        </section>
    </system>
</config>
